* {
  font-family: "Changa", sans-serif;
  font-weight: 400;
}
*:focus {
  outline: 0;
}

body {
  font-family: "Changa", sans-serif;
  background: #0b0c10;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Changa", sans-serif;
}

.container {
  padding: 12px 24px 24px 24px;
  margin: 48px 12px;
  background: #e3f2fd;
  border-radius: 4px;
}

label {
  font-size: 15pt;
  margin-left: 12px;
  color: white;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #0d19a3;
}

input[type="submit"] {
  background: #0d19a3;
  font-size: 15pt;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 20px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

input[type="submit"]:focus {
  background: #0d19a3;
  color: whitesmoke;
}

input[type="submit"]:hover {
  background: #4285f4;
  cursor: pointer;
}

.center {
  text-align: center;
}
