@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");
.btn {
  width: 200px;
  height: 55px;
  background-color: #0d19a3;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin: 0 auto;
  display: block;
  color: white !important;
}
.btn:hover {
  background-color: #4285f4;
}

.btn:active {
  background-color: #3500d3;
  color: #3500d3;
}
body {
  padding: 0px;
  font-family: Changa;
  background: #0b0c10;
  height: 100vh;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: white;
  font-size: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(13, 25, 163, 0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
  transition: 0.5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(0px);
  }
}
